<div class="container">
  <div>
    <h1>Login With Mobile OTP</h1>
  </div>
  <form>
    <div class="form-group">
      <label for="phoneNumber">Phone Number : </label>
      <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber">
      <div id="captcha-container">

      </div>

      <button class="btn-primary btn block" (click)="sendOtp()">
        Send OTP
      </button>
      <br>
      <div *ngIf="windowRef.confirmationResult">
        <label for="otp"> OTP</label>
        <input type="text" class="form-control" name="otp" [(ngModel)]="otp">
        <button class="btn-primary btn block" (click)="verifyOtp()">
          Varify OTP
        </button>
      </div>
    </div>
  </form>

  <div *ngIf="user">
    You have successfully logged In with this number {{user.phoneNumber}}
  </div>
</div>